
.card{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container {
    cursor: pointer;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    filter: drop-shadow(5px 5px 4px #acadb4);

    padding: 20px;
}

.card-image {
    transition: transform 0.2s;
}

.card-image:hover{
    transform: scale(1.05);
    /* opacity: 0.75; */
    filter: drop-shadow(5px 5px 4px #acadb4);
}



.game-title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 180px;
    padding-top: 10px;
}
/* -----------------DIALOG BOX-------------------- */
.dialog-popup-window{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

.dialog-actions{
    margin: 20px;

    width: 250px;

    display: flex;
    align-self: center;
}

.wishlist {
    cursor: pointer;
    width: 100%;
}

.dialog-top {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.dialog-info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-image {
    cursor:default;
}
