
.card{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container {
    cursor: pointer;
    width: 150px;
    height: 200px;
    /* border: 1px solid; */
    border-radius: 10px;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 50px 100px -20px, rgba(0, 0, 0, 0.45) 0px 30px 60px -30px;

    padding: 20px;
    margin-bottom: 10px;
}

.card_container:hover{
    opacity: 0.75;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.game-title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 180px;
    padding-top: 10px;
}
/* -----------------DIALOG BOX-------------------- */
.dialog-popup-window{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

.dialog-actions{
    margin: 20px;

    width: 250px;

    display: flex;
    align-self: center;
}

.wishlist {
    cursor: pointer;
    width: 100%;
}

.dialog-top {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.dialog-image {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
    
}
